{% extends 'home.html' %}

{% block body %}
    <br>
    <h2>ElGamal</h2>

    <form action="/elgamal/encrypt" method="post"></form>
        <label for="KeyP">Key P : </label>
        <input type="number" name="KeyP" id="KeyP"><br>
        <label for="KeyG">Key G : </label>    
        <input type="number" name="KeyG" id="KeyG"><br>
        <label for="KeyX">Key X : </label>    
        <input type="number" name="KeyX" id="KeyX"><br>
        <label for="KeyY">Key Y : </label>    
        <input type="number" name="KeyY" id="KeyY"><br>        
    <button id="generateKey">Generate Key</button>
    <button id="importKey">Import Key</button>
    <button id="setKey">Set Key</button>


    <script>
        $("#generateKey").on("click", () => {
            $.get("/elgamal/genkey").done(data => {
                console.log(data);
                key = data;
                $("#KeyP").val(key.p)
                $("#KeyG").val(key.g)
                $("#KeyX").val(key.x)
                $("#KeyY").val(key.y)
            })
        })
    </script>

{% endblock %}