{% extends 'home.html' %}

{% block body %}
    <br>
    <h2>Paillier</h2>

    <form action="" method="post"></form>
        <label for="KeyG">Key g : </label>
        <input type="number" name="KeyG" id="KeyG"><br>
        <label for="KeyN">Key n : </label>    
        <input type="number" name="KeyN" id="KeyN"><br>
        <label for="KeyH">Key &#955; : </label>    
        <input type="number" name="KeyH" id="KeyH"><br>
        <label for="KeyU">Key  	&#956; : </label>    
        <input type="number" name="KeyU" id="KeyU"><br>        
    <button id="generateKey">Generate Key</button>
    <button id="importKey">Import Key</button>
    <br>
    <br>
    <div id="input">
        <h3>Input</h3>
        <textarea id="inText" style="resize: both;"
                name="inText" cols='30' rows="10"></textarea>
    </div>
    <br>
    <button id="Encrypt" name="Encrypt">Encrypt</button>
    <button id="Decrypt" name="Decrypt">Decrypt</button>

    <div id="result"></div>

    <script>
    $("#generateKey").on("click", () => {
        $.get("/paillier/genkey").done(data => {
            console.log(data);
            key = data;
            $("#KeyG").val(key.g)
            $("#KeyN").val(key.n)
            $("#KeyH").val(key.h)
            $("#KeyU").val(key.u)
        })
    })
    $("#Encrypt").on("click", () => {
        let data = createBodyRequest();
        $("#result").empty();
        $.post("/paillier/encrypt", {data:data}).done(data => {
            let outputText = 
            '<br><h3>Result: </h3>\
            <div id="outText">' + data + '</div>'
            $("#result").append(outputText)
        })
    })
    $("#Decrypt").on("click", () => {
        let data = createBodyRequest()
        $("#result").empty()
        $.post("/paillier/decrypt", {data:data}).done(data => {
            let outputText = 
            '<br><h3>Result: </h3>\
            <div id="outText">' + data + '</div>'
            $("#result").append(outputText)
        })
    })
    const createBodyRequest = function() {
        let body = {}
        body.n = $("#KeyN").val()
        body.g = $("#KeyG").val()
        body.h = $("#KeyH").val()
        body.u = $("#KeyU").val()
        body.text =$("#inText").val()
        return JSON.stringify(body)
    }
    </script>

{% endblock %}
